/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: Lato, Geneva, Tahoma, sans-serif
}

html,
body {
    background-color: #F7FBDF;
    align-content: center;
    width: 100%;
}

h1 {
    font-size: 5.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: "Bree Serif", Merriweather, Georgia, serif;
    padding: 1rem 2rem;
    background-color: #E3F08E;
    color: #2E3409;
}

h2 {
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: "Bree Serif", Merriweather, Georgia, serif;
    padding: 1rem 2rem;
    background-color: #F7FBDF;
    color: #8C9E15;
}

nav li {
    font-size: 2.618rem;
    background-color: #F7FBDF;
}

p {
    font-size: 1.618rem;
    padding: 1rem 2rem;
    font-family: Lato, Geneva, Tahoma, sans-serif;
    background-color: #F7FBDF;
    color: #2E3409;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    background-color: #E3F08E;

}

header {
    border-bottom: 0.8rem solid #CBE432;
    background-color: #F7FBDF;
    color: #E3F08E;
}

.menu-h {
    font-size: 0px;
}

.menu-h li {
    display: inline-block;
    text-decoration: none;
    width: 20%;
    text-align: center;
    background-color: #2E3409;
    color: #F7FBDF;
    float: left;
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
}

.menu-h a,
.menu-h a:link,
.menu-h a:visited {
    /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
    color: #CBE432;

}

.menu-h a:hover,
.menu-h a:active {
    color: #8C9E15;
}

.menu-v {
    width: 20%;
    float: left;
    text-align: center;
    margin-top: 50px;


}

.menu-v li {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #E3F08E;
    text-align: center;
    
    
  
    /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
}

.menu-v a,
.menu-v a:link,
.menu-v a:visited {
    color: #8C9E15;
    
   
}

.menu-v li:hover,
.menu-v li:active {
    background-color: #2E3409;

}

main {
    width: 80%;
    float: right;
}

footer {
    clear: both;

}

footer p {
    color: #F7FBDF;
    background-color: #2E3409;
}


